// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// v-card
$card-title-line-height: 1.25rem;
$card-title-adjacent-sibling-subtitle-margin-top: -10px;
$card-text-font-size: 1rem;
