.searchbar-my-network-contact {
  & > .v-input__control {
    min-height: 28px !important;

    .v-input__slot {
      min-height: 30px !important;
      height: 30px;
      padding: 0px 4px !important;

      .v-input__prepend-inner {
        margin-top: 3px !important;
        padding-right: 0;
      }
      .v-label {
        font-size: 12px;
        color: var(--color-grey-muted);
      }
      .v-icon__svg {
        color: var(--color-grey-muted);
        height: 20px;
        width: 20px;
      }
    }
  }
}

.social-icon img {
  max-width: 40px;
  max-height: 40px;
  margin: 0 16px;
}
.grow-email {
  .v-text-field__slot label {
    font: 14px;

    color: var(--color-grey-muted);
    top: 14px !important;
  }
  .v-input__slot {
    min-height: 48px !important;
  }
}
.sub-hearder {
  height: 42px;
}
.manage-btn {
  height: 32px !important;
}

.contact_email {
  @include for-tab-small-device {
    width: 190px !important;
  }
  @include for-lower-device {
    width: 180px !important;
  }
  @include for-small-device {
    width: 130px !important;
  }
  @include for-more-small-device {
    width: 75px !important;
  }
}

.my-network__container {
  @include responsiveMax(480px) {
    padding-top: 0 !important;
  }
}
