// theme colors (if you change any color value, please also change in vuetify.options.js)
$primary: #00a0c8;
$text: #464646;
$text-dark: #cccccc;
$heading: #262626;
$heading-dark: #f3f6f8;
$grey: #eeeeee;
$grey-dark: #3c4345;
$grey-muted: #707070;
$grey-muted-dark: $text-dark;
$background-page: #f3f2ef;
$background-page-dark: #101010;
$white: #ffffff;
$white-dark: #1e1e1e;
$black: #000000;
$boder: #dddddd;
$success: #057642;
$error: #ff2727;
$warning: #ffa436;
$notification-bg: #d4eef5;
$notification-bg-dark: #2b393c;
